/banlist.xml
/dbconmy.dll
/deathmatch.dll
/editor_acl.xml
/editor.conf
/internal.db
/libcrypto-3.dll
/libmysql.dll
/libssl-3.dll
/local.conf
/lua5.1.dll
/pcre3.dll
/registry.db
/server-id.keys
/vehiclecolors.conf
/resource-cache/*
/logs/*
/databases/*